<h2>Modification de la fourniture: <span>{{type}}</span></h2>
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="inputgpe">
        <label>Type:</label>
        <input type="text" id="type" placeholder="Entrez le nouveau type" [(ngModel)]="formData.type" name="type" required>
    </div>
    <br>
    <div class="inputgpe">
        <label>Nombre:</label>
        <input type="number" id="nombre" value="nombre" [(ngModel)]="formData.nombre" name="nombre" min="1" required>
    </div>
    <br>
    <button type="submit" [disabled]="!f.valid">Enregistrer</button>
  </form>
  